<%= @ask.question%>
<br>
<%= link_to "edit", edit_ask_path(@ask)%>
<br>
<%= link_to "destroy", @ask, method: :delete, data: { confirm:"Are you sure?"}%>
<br>
<h1>Answer</h1>
<%=render 'answers/answer_form' %>

 <div id="answers" data-ask-id="<%= @ask.id %>">
 	<%=render @answers %>
 </div>

