<!DOCTYPE html>
<html>
  <head>
    <title>AskAndQuestion</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-sm navbar-inverse">
  <%= link_to root_path  do %>
      <%=image_tag("logo.png")%>
    <%end%> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>


    

  </button>
  <div class="collapse navbar-collapse header" id="menu">
    <ul class="navbar-nav nav-links">
      <%=login_helper "nav-link"%>
    </ul>
  </div>
</nav>
  <!-- /.navbar -->
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>

	 <div class = "container"> <%= yield %></div>
   

    <footer id="footer" class="top-space">

      <div class="footer1">
        <div class="container">
          <div class="row">
            
            <div class="col-md-3 widget">
              <h3 class="widget-title">Contact</h3>
              <div class="widget-body">
                <p>+234 23 9873237<br>
                  <a href="mailto:#">some.email@somewhere.com</a><br>
                  <br>
                  234 Hidden Pond Road, Ashland City, TN 37015
                </p>  
              </div>
            </div>

            <div class="col-md-3 widget">
              <h3 class="widget-title">Follow me</h3>
              <div class="widget-body">
                <p class="follow-me-icons">
                  <a href=""><i class="fa fa-twitter fa-2"></i></a>
                  <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                  <a href=""><i class="fa fa-github fa-2"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2"></i></a>
                </p>  
              </div>
            </div>

            <div class="col-md-6 widget">
              <h3 class="widget-title">Text widget</h3>
              <div class="widget-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
              </div>
            </div>

          </div> <!-- /row of widgets -->
        </div>
      </div>


  </footer> 
  </body>

</html>
